@import '../../node_modules/semantic-ui-css/semantic.min.css'
$information-phone: 'only screen and (max-width : 767px)'

html,
body
  height: 100%

svg
  max-height: 100%

.ui.large.breadcrumb
    font-family: 'Avenir Next'

.ui.breadcrumb .active.section
    font-weight: normal !important

.ui.breadcrumb a.section
    color: #bfbebe

.counties
  g
    cursor: pointer
  g:hover
    .county
      fill: rgb(120,120,120)

.mainMenu
  padding: 20px
  margin: 0px !important

.school_row, .school_marker
  cursor: pointer
  transition: all 1s

.ui.grid
  margin: 0 !important
  max-width: 100%

.padded-column
  padding: 20px

.ui.fluid.container
  margin-left: 0 !important
  margin-right: 0 !important

.index-header
  height: 400px
  background-image: url('../images/lafayette.jpg')
  background-size: cover
  margin: 0px !important

  .content
    height: 100%
    background-color: rgba(40, 40, 40, .9)
    display: flex !important
    flex-direction: column
    justify-content: center
    align-items: center
    margin: 0px !important

  .logo
    width: 150px
    height: auto

  .title
    margin-top: 50px
    color: #fff
    font-family: 'Avenir Next'
    font-weight: bold
    text-align: center

  .hint
    margin-top: 80px
    color: #fff
    font-family: 'Avenir Next'
    font-weight: normal

  .down
    color: #fff
    cursor: pointer

    &:hover
      color: #F5A623

.district-section
  padding-top: 80px
  padding-bottom: 40px
  background-color: rgba(55, 55, 55, 100)
  display: flex !important
  flex-direction: column
  justify-content: center
  align-items: center

  .hint
    color: #B3B3B3
    font-family: 'Avenir Next'
    font-weight: normal
    text-align: center

  .district-filter
    width: 300px
    margin-top: 20px

  .or
    color: #B3B3B3
    width: 50%
    margin-top: 50px

.analysis-section
    display: flex !important
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 20px

    .analysis-title
      font-weight: normal !important
      font-family: 'Avenir Next' !important
      font-size: 28px !important
      color: #3F3F3F !important
      text-transform: capitalize !important
      margin: 0 !important
      margin-top: 40px !important

    .paragraph
      font-weight: normal !important
      font-family: 'Avenir Next' !important
      text-transform: capitalize !important
      color: #707070 !important
      font-size: 14px !important
      margin: 0 !important
      margin-bottom: 20px !important
      max-width: 1000px

.paragraph
    color: #000
    padding-left: 100px
    padding-right: 100px
    text-align: center
    font-size: 18px

.county-section
    display: flex !important
    flex-direction: column
    justify-content: top
    align-items: center
    margin-top: 100px

    .countyName
      font-weight: normal !important
      font-family: 'Avenir Next' !important
      font-size: 28px !important
      color: #3F3F3F !important
      text-transform: capitalize !important
      margin: 0 !important

    .countyMap
      border: none
      margin-bottom: 100px !important

    .stateName
      font-weight: normal !important
      font-family: 'Avenir Next' !important
      text-transform: capitalize !important
      color: #707070 !important
      font-size: 24px !important
      margin: 0 !important
      margin-bottom: 100px !important

      font-weight: normal !important
      font-family: 'Avenir Next' !important
      color: #989898 !important
      font-size: 20px !important

.school-section
    display: flex !important
    flex-direction: column
    justify-content: top
    margin-top: 40px
    margin-bottom: 40px

    .headerText
      font-weight: normal !important
      font-family: 'Avenir Next' !important
      font-size: 28px !important
      color: #3F3F3F !important
      text-transform: capitalize !important
      margin: 0 !important
      margin-top: 40px !important

    .schoolMap
      border: none
      margin-bottom: 100px !important

    .pie-chart
      margin: 0px 50px

    .pie-svg
      margin-top: -15px

      g
        text
         display: none !important

    .subHeaderText
      font-weight: normal !important
      font-family: 'Avenir Next' !important
      text-transform: capitalize !important
      color: #707070 !important
      font-size: 24px !important
      margin: 0 !important
      margin-bottom: 20px !important

      &.top
        margin-top: 40px !important

    p
      font-weight: normal !important
      font-family: 'Avenir Next' !important
      color: #989898 !important
      font-size: 20px !important

.ui.statistic>.value, .ui.statistics .statistic>.value
    font-size: 20px !important
    font-weight: 300

.ui.statistic>.label, .ui.statistics .statistic>.label
    color: #b5b5b5
    font-weight: 300
    margin-bottom: 10px

.ui.statistics>.statistic
    border-right: 1px solid #eee
    margin: 20px 0px 0px 0px !important
    padding: 0 1.5em 1em

.ui.statistics>.statistic:last-child
    border-right: none !important

.ui.statistic>.value, .ui.statistics .statistic>.value
    text-transform: capitalize !important

@media only screen and (max-width: 479px)
   .mobile-hide
     display: none !important
   .ui.table
     border-radius: 0px !important
   .column
     padding-bottom: 0px !important
   .district-section
     padding-bottom: 0px !important

.footer-container
  background-color: rgba(40, 40, 40, .9)
  color: #fff
  font-weight: normal !important
  font-family: 'Avenir Next' !important
  padding: 5px

  .footer-content

    a
      color: rgba(255, 255, 255, .8) !important

@media #{$information-phone}
  .analysis-section
    .paragraph
      padding: 0

    .analysis-title
      font-size: 12pt !important

  .footer-content
    display: none !important

  .header-search
    display: none !important

  .school-pies,
  .school-bars
    flex-direction: column !important

  .pie-title
    width: 300px !important
    margin: auto !important
