@import '../../node_modules/semantic-ui-css/semantic.min.css'

html,
body
  height: 100%

svg
  max-height: 100%

.counties
  g
    cursor: pointer

.school_row, .school_marker
  cursor: pointer
  transition: all 1s

.ui.grid
  margin: 0 !important
  max-width: 100%

.padded-column
  padding: 20px

.ui.fluid.container
  margin-left: 0 !important
  margin-right: 0 !important

.index-header
  height: 400px
  background-image: url('../images/lafayette.jpg')
  background-size: cover
  margin: 0px !important

  .content
    height: 100%
    background-color: rgba(40, 40, 40, .9)
    display: flex !important
    flex-direction: column
    justify-content: center
    align-items: center
    margin: 0px !important

  .logo
    width: 150px
    height: auto

  .title
    margin-top: 50px
    color: #fff
    font-family: 'Avenir Next'
    font-weight: bold
    text-align: center

  .hint
    margin-top: 80px
    color: #fff
    font-family: 'Avenir Next'
    font-weight: normal

  .down
    color: #fff
    cursor: pointer

    &:hover
      color: #F5A623

.district-section
  padding-top: 80px
  padding-bottom: 40px
  background-color: rgba(55, 55, 55, 100)
  display: flex !important
  flex-direction: column
  justify-content: center
  align-items: center

  .hint
    color: #B3B3B3
    font-family: 'Avenir Next'
    font-weight: normal
    text-align: center

  .district-filter
    width: 300px
    margin-top: 20px

  .or
    color: #B3B3B3
    width: 50%
    margin-top: 50px

.analysis-section
    display: flex !important
    flex-direction: column
    justify-content: center
    align-items: center

.county-section
    display: flex !important
    flex-direction: column
    justify-content: top
    align-items: center
    margin-top: 100px

    .countyName
      font-weight: normal !important
      font-family: 'Avenir Next' !important
      font-size: 28px !important
      color: #3F3F3F !important
      text-transform: uppercase !important
      margin: 0 !important

    .countyMap
      border: none
      margin-bottom: 100px !important

    .stateName
      font-weight: normal !important
      font-family: 'Avenir Next' !important
      text-transform: uppercase !important
      color: #707070 !important
      font-size: 24px !important
      margin: 0 !important
      margin-bottom: 100px !important

    p
      font-weight: normal !important
      font-family: 'Avenir Next' !important
      color: #989898 !important
      font-size: 20px !important

@media only screen and (max-width: 479px)
   .mobile-hide
     display: none !important
   .ui.table
     border-radius: 0px !important
   .column
     padding-bottom: 0px !important
   .district-section
     padding-bottom: 0px !important
